.input {
   border: none;
   color: #919191;
   width: 100%;
}

.input:focus {
   outline: none;
}

.addButton {
   border: none;
   margin-right: 5px;

   &:hover {
      transform: scale(1.1);
   }
}